@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/roboto/roboto-v20-latin_cyrillic-regular.eot');
  src: local('Roboto'), local('Roboto-Regular'),
    url('../fonts/roboto/roboto-v20-latin_cyrillic-regular.eot?#iefix')
      format('embedded-opentype'),
    url('../fonts/roboto/roboto-v20-latin_cyrillic-regular.woff2')
      format('woff2'),
    url('../fonts/roboto/roboto-v20-latin_cyrillic-regular.woff') format('woff'),
    url('../fonts/roboto/roboto-v20-latin_cyrillic-regular.ttf')
      format('truetype'),
    url('../fonts/roboto/roboto-v20-latin_cyrillic-regular.svg#Roboto')
      format('svg');
}
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  src: url('../fonts/roboto/roboto-v20-latin_cyrillic-500.eot');
  src: local('Roboto Medium'), local('Roboto-Medium'),
    url('../fonts/roboto/roboto-v20-latin_cyrillic-500.eot?#iefix')
      format('embedded-opentype'),
    url('../fonts/roboto/roboto-v20-latin_cyrillic-500.woff2') format('woff2'),
    url('../fonts/roboto/roboto-v20-latin_cyrillic-500.woff') format('woff'),
    url('../fonts/roboto/roboto-v20-latin_cyrillic-500.ttf') format('truetype'),
    url('../fonts/roboto/roboto-v20-latin_cyrillic-500.svg#Roboto')
      format('svg');
}
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  src: url('../fonts/roboto/roboto-v20-latin_cyrillic-700.eot');
  src: local('Roboto Bold'), local('Roboto-Bold'),
    url('../fonts/roboto/roboto-v20-latin_cyrillic-700.eot?#iefix')
      format('embedded-opentype'),
    url('../fonts/roboto/roboto-v20-latin_cyrillic-700.woff2') format('woff2'),
    url('../fonts/roboto/roboto-v20-latin_cyrillic-700.woff') format('woff'),
    url('../fonts/roboto/roboto-v20-latin_cyrillic-700.ttf') format('truetype'),
    url('../fonts/roboto/roboto-v20-latin_cyrillic-700.svg#Roboto')
      format('svg');
}
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 900;
  src: url('../fonts/roboto/roboto-v20-latin_cyrillic-900.eot');
  src: local('Roboto Black'), local('Roboto-Black'),
    url('../fonts/roboto/roboto-v20-latin_cyrillic-900.eot?#iefix')
      format('embedded-opentype'),
    url('../fonts/roboto/roboto-v20-latin_cyrillic-900.woff2') format('woff2'),
    url('../fonts/roboto/roboto-v20-latin_cyrillic-900.woff') format('woff'),
    url('../fonts/roboto/roboto-v20-latin_cyrillic-900.ttf') format('truetype'),
    url('../fonts/roboto/roboto-v20-latin_cyrillic-900.svg#Roboto')
      format('svg');
}
:root {
  --main-text-cl: #757575;
  --accent-cl: #2196f3;
  --black: #212121;
  --white: #ffffff;
  --dark-bg: #2f303a;
  --lite-bg: #f5f4fa;
  --hero-bg: #c4c4c4;
  --icon-cl: #afb1b8;
}
html {
  box-sizing: border-box;
}
*,
*::before,
*::after {
  box-sizing: inherit;
}
img {
  display: block;
  max-width: 100%;
  height: auto;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}
body {
  margin: 0px;
  font-family: Roboto, sans-serif;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--main-text-cl);
}
textarea {
  resize: none;
}
/* Утилиты */
.container {
  width: 1200px;
  margin-right: auto;
  margin-left: auto;
  padding-right: 15px;
  padding-left: 15px;
}
.link {
  text-decoration: none;
  font-weight: 500;
  line-height: 1.143;
  letter-spacing: 0.02em;
  color: inherit;
}
.menu .link {
  color: var(--black);
}
.link {
  color: inherit;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.link:hover,
.link:focus {
  color: var(--accent-cl);
}
.list {
  display: flex;
  padding: 0px;
  margin: 0px;
  list-style: none;
}
.logo {
  font-family: Raleway, sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.192;
  text-decoration: none;
}
.logo__part {
  color: var(--accent-cl);
}
.title {
  font-weight: 700;
  color: var(--black);
  text-align: center;
}
.section-title {
  font-size: 36px;
  line-height: 1.166;
}
.btn {
  display: inline-block;
  font-family: inherit;
  font-size: 16px;
  text-align: center;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}
.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
}
/* Шапка */
.header {
  display: flex;
  align-items: center;
  height: 80px;
}
.header-logo {
  padding-top: 24px;
  padding-bottom: 25px;
  margin-right: 93px;
  color: #000000;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.navigation {
  display: flex;
  align-items: center;
}
.menu .item {
  position: relative;
  padding-top: 32px;
  padding-bottom: 25px;
}
.menu .item:not(:last-child) {
  margin-right: 50px;
}
.header-contacts {
  display: flex;
  margin-left: auto;
}
.header-contacts .link {
  display: inline-flex;
  align-items: center;
}
.header-contacts .item:not(:last-child) {
  margin-right: 50px;
}
.icon-link {
  display: flex;
  align-items: center;
}
.mail-icon {
  width: 16px;
  height: 12px;
  margin-right: 10px;
  fill: currentColor;
}
.phone-icon {
  width: 10px;
  height: 16px;
  margin-right: 10px;
  fill: currentColor;
}
.link.active-page {
  color: var(--accent-cl);
}
.active-page::after {
  content: '';
  position: absolute;
  bottom: 0px;
  display: flex;
  align-items: flex-end;
  height: 4px;
  width: 100%;
  border-radius: 2px;
  background-color: var(--accent-cl);
}

/* Заголовок */
.hero-section {
  height: 600px;
  text-align: center;
  background-color: var(--hero-bg);
  background-image: linear-gradient(
      to bottom,
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url(../images/hero.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}
.hero-container {
  padding-top: 200px;
  padding-bottom: 200px;
}
.page-title {
  margin-bottom: 45px;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.364;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--white);
}
.order-btn {
  font-weight: 700;
  line-height: 1.875;
  background-color: var(--accent-cl);
  letter-spacing: 0.06em;
  color: var(--white);
  padding-top: 10px;
  padding-bottom: 10px;
  padding-right: 32px;
  padding-left: 32px;
}

/* Модалка */
.backdrop {
  position: fixed;
  top: 0;
  left: 0px;
  width: 100%;
  height: 100%;
  z-index: 100;
  background: rgba(0, 0, 0, 0.2);
}
.modal {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 528px;
  padding: 40px;
  background: var(--white);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  text-align: center;
}
.close-btn {
  position: absolute;
  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;

  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0px;
  border-radius: 50%;
  background: var(--white);
  border: 1px solid rgba(0, 0, 0, 0.1);
}
.vector {
  fill: var(--black);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.close-btn:hover .vector {
  fill: var(--accent-cl);
}
.order-container .input {
  padding-top: 11px;
  padding-right: 11px;
  padding-bottom: 11px;
  padding-left: 15px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
}
.order-container .order-lable {
  display: flex;
  margin-bottom: 4px;
}
.modal-title {
  margin-bottom: 12px;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
}
.order-list {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}
.order-item {
  position: relative;
  display: flex;
  flex-direction: column;
}
.order-lable {
  font-size: 12px;
  line-height: 1.167;
  letter-spacing: 0.01em;
}
.order-list .order-item:not(:last-child) {
  margin-bottom: 10px;
}
.order-list .order-item:not(:last-child) .input {
  padding-left: 40px;
}
.input-icon {
  position: absolute;
  left: 15px;
  bottom: 11px;

  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.order-item:focus-within .input-icon {
  fill: var(--accent-cl);
}
.order-item:focus-within .input {
  outline-style: none;
  border: 1px solid var(--accent-cl);
}

.rules-link {
  text-decoration-line: underline;
  color: var(--accent-cl);
}
.rules-accept-container {
  position: relative;
  left: 12px;
  display: block;
  margin-bottom: 30px;
}

.original-chekbox {
  position: absolute;
  width: 1px;
  height: 1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
}
.checkbox-icon {
  position: absolute;
  top: 50%;
  left: 0px;
  transform: translateY(-50%);
  display: inline-block;
  width: 16px;
  height: 16px;
  margin-right: 8px;
  background-image: url(../images/uncheked.svg);
  background-repeat: no-repeat;
}
.original-chekbox:checked + .checkbox-icon {
  background-color: var(--accent-cl);
  background-image: url(../images/checked.svg);
  border-radius: 4px;
}
.send-btn {
  padding: 10px 55px;
  width: 200px;
  height: 50px;
  margin-right: auto;
  margin-left: auto;
  background-color: var(--accent-cl);
  color: var(--white);
  line-height: 1.88;
  letter-spacing: 0.06em;
}
.send-btn:hover {
  background-color: #2196f3;
}

/* Преимущества */
.benefits-section {
  display: flex;
  padding-top: 94px;
  padding-bottom: 94px;
}
.benefits-list .item::before {
  content: '';
  display: block;
  width: 270px;
  height: 120px;
  margin-bottom: 30px;
  background-repeat: no-repeat;
  background-position: center;
  background-color: var(--lite-bg);
}
.benefits-list .antena-icon:before {
  background-image: url(../images/antenna.svg);
}
.benefits-list .clock-icon::before {
  background-image: url(../images/clock.svg);
}
.benefits-list .diagram-icon::before {
  background-image: url(../images/diagram.svg);
}
.benefits-list .astronaut-icon::before {
  background-image: url(../images/astronaut.svg);
}
.benefits-list .item:not(:last-child) {
  margin-right: 30px;
}
.benefits-title {
  margin-bottom: 10px;
  line-height: 1.143;
  text-transform: uppercase;
  text-align: left;
}

/* Описание деятельности */
.duty-section {
  padding-bottom: 94px;
}
.duty-list .item:not(:last-child) {
  margin-right: 30px;
}
.duty-title {
  padding-bottom: 50px;
}
.duty-list .item {
  position: relative;
  z-index: 10;
}
.lable {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 70px;
  background: rgba(47, 48, 58, 0.8);
}
.lable-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  font-weight: 700;
  line-height: 1.142;
  text-align: center;
  text-transform: uppercase;
  color: var(--white);
}

/* Наша команда */
.team-section {
  padding-top: 94px;
  padding-bottom: 94px;
  background-color: var(--lite-bg);
}
.team-title {
  padding-bottom: 50px;
}
.members-list .item {
  padding-bottom: 30px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  background-color: var(--white);
}
.members-list .item:not(:last-child) {
  margin-right: 30px;
}
.member-foto {
  padding-bottom: 30px;
}
.member-name {
  padding-bottom: 10px;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.188;
}
.member-position {
  padding-bottom: 30px;
  margin-bottom: 0px;
  font-size: 16px;
  line-height: 1.186;
  text-align: center;
}
.social-list {
  display: flex;
  justify-content: center;
  align-items: center;
}
.social-icon {
  fill: var(--icon-cl);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.social-icon:hover,
.social-icon:focus {
  fill: var(--white);
}
.social-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.social-link:hover .social-icon,
.social-link:focus .social-icon {
  fill: var(--white);
}
.social-link:hover,
.social-link:focus {
  background-color: var(--accent-cl);
}
.social-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
}
.social-item:not(:last-child) {
  margin-right: 10px;
}

/* Клиенты */
.clients-section {
  padding-top: 94px;
  padding-bottom: 94px;
}
.clients-title {
  margin-bottom: 50px;
}
.clients-icon {
  fill: var(--icon-cl);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.client-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 170px;
  height: 90px;
  border: 1px solid var(--icon-cl);
  border-radius: 4px;
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.client-link:hover .clients-icon,
.client-link:focus .clients-icon {
  fill: var(--accent-cl);
}
.client-link:hover,
.client-link:focus {
  border: 1px solid var(--accent-cl);
}
.clients-item:not(:last-child) {
  margin-right: 30px;
}
/* Подвал */
.footer {
  padding-top: 60px;
  padding-bottom: 60px;
  height: 252px;
  background-color: var(--dark-bg);
}
.footer-container {
  position: relative;

  display: flex;
}
.contacts-container {
  margin-right: 70px;
}
.social-container {
  display: flex;
  flex-direction: column;
  margin-right: 93px;
}
.social-icon.footer-social-icon {
  fill: var(--white);
}
.footer-logo {
  display: block;
  color: var(--white);
  margin-bottom: 20px;
}
.footer-contacts-links {
  font-weight: 400;
  line-height: 1.714;
  letter-spacing: inherit;
  color: rgba(255, 255, 255, 0.6);
}
.footer-contacts {
  font-style: normal;
  display: block;
}
.footer-contacts .item:not(:last-child) {
  padding-bottom: 9px;
}
.adress {
  display: block;
  padding-bottom: 9px;
  color: var(--white);
  font-style: normal;
}
.connect {
  margin-bottom: 20px;
  font-size: 14px;
  line-height: 1.142;
  text-transform: uppercase;
  text-align: left;
  color: var(--white);
}
.social-item .gray-bg {
  background-color: rgba(255, 255, 255, 0.1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.social-item .gray-bg:hover,
.social-item .gray-bg:focus {
  background-color: var(--accent-cl);
}
.subscride-form {
  position: absolute;
  right: 15px;
}
.subscribe-container {
  position: relative;
  width: 570px;
  height: 86px;
}
.subscribe-btn {
  position: absolute;
  bottom: 0px;
  right: 0px;
  width: 200px;
  height: 50px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 29px;
  padding-right: 28px;
  display: flex;
  align-items: center;
  background-color: var(--accent-cl);
  font-size: 16px;
  font-weight: 700;
  line-height: 1.88;
  letter-spacing: 0.06em;
  color: var(--white);
}

.subscribe-container input {
  position: absolute;
  left: 0px;
  bottom: 0px;
  width: 358px;
  height: 50px;
  padding: 15px 16px;
  background-color: rgba(33, 150, 243, 0);
  border: 1px solid rgba(255, 255, 255, 0.3);
  box-sizing: border-box;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  font-size: 16px;
  line-height: 1.25;

  color: rgba(255, 255, 255, 0.6);
}
.subscribe-title {
  left: 0px;
  top: 0px;
  margin-bottom: 20px;
  font-size: 14px;
  line-height: 1.25;
  text-transform: uppercase;
  color: var(--white);
  text-align: start;
}
.icon-send {
  fill: var(--white);
  margin-left: 10px;
}
/* Портфолио */
.portfolio-section {
  padding-top: 94px;
  padding-bottom: 94px;
  border: 1px solid #ececec;
  border-right: none;
  border-bottom: none;
  border-left: none;
}
.filter {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  padding-bottom: 50px;
}
.filter .item:not(:last-child) {
  margin-right: 8px;
}
.portfolio-btn {
  font-weight: 500;
  line-height: 1.62;
  letter-spacing: inherit;
  color: var(--black);
  background: var(--lite-bg);
  max-width: 500px;
  padding-top: 6px;
  padding-bottom: 6px;
  padding-right: 22px;
  padding-left: 22px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.portfolio-btn:hover,
.portfolio-btn:focus {
  color: var(--white);
  background-color: var(--accent-cl);
}
.portfolio-list {
  display: flex;
  flex-wrap: wrap;
  padding-bottom: 94px;
}
.portfolio-list .item {
  margin-right: 30px;
  margin-bottom: 30px;
}
.portfolio-list .item:nth-child(3n) {
  margin-right: 0px;
}
.portfolio-list .item:nth-last-child(-n + 3) {
  margin-bottom: 0px;
}
.thumb {
  position: relative;
  overflow: hidden;
}
.overlay {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  background: rgba(33, 150, 243, 0.9);
  padding: 63px 24px;
  font-size: 18px;
  font-weight: 400;
  line-height: 1.556;
  color: var(--white);

  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.portfolio-list .link:hover .overlay,
.portfolio-list .link:focus .overlay {
  transform: translateY(0);
}
.portfolio-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.portfolio-box:hover,
.portfolio-box:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
  color: var(--main-text-cl);
}
.portfolio-text-box {
  width: 100%;
  height: 100%;
  padding: 20px 24px;
  border: 1px solid #eeeeee;
}
.portfolio-item-title {
  font-size: 18px;
  line-height: 2;
  text-align: left;
  letter-spacing: 0.06em;
}
.portfolio-item-text {
  font-size: 16px;
  line-height: 1.875;
}
